.dialog-pane {
    -fx-background-color: #282828;
    -fx-text-fill: white;
}

.dialog-pane:header .header-panel .label{
  -fx-background-radius:10px;
  -fx-text-fill: white;
  -fx-font-size:15.0px;
}

.dialog-pane:header .header-panel {
  -fx-background-color: #282828;
  -fx-background-radius: 10px;
  -fx-font-size:15.0px;
}

.dialog-pane .button{
   -fx-background-color: #c0392b;
   -fx-text-fill: white;
   -fx-wrap-text: true;
   -fx-cursor: hand;
 }

.dialog-pane .button:hover{     
  -fx-text-fill: white;
  -fx-effect: dropshadow( three-pass-box, #c0392b, 2.0, 0.0, 0.0, 0.0);
 }